.Logout {
color: navy;
text-align: right;
padding-top: 50px;
padding-right: 50px;
font-size: 20px;
font-style: verdana;
}

.img {
height: 250px;
width: 700px;
}

.Spacing{
text-align: center;  
}
.BudgetingQuestions {
text-align: center;
color:navy;
font-size: 50px;
font-style: verdana;
padding-top: 50px;
padding-left: 100px;
}