.welcome {
  color: pink;
}

.welcome .logo {
  border: 1px solid green;
  color: green;
}

.welcome .login {
  border: 1px solid palevioletred;
  color: palevioletred;
  margin-left: 50%;
  background-color: white;
}

.welcome .signinbutton {
  border: 1px solid white;
  color: palevioletred;
  margin-left: 70%;
}

.welcome .links {
  border: 1px solid lightblue;
  color: lightblue;
}

.welcome .registerNewUser{
  font-family: sans-serif;
  color: gray;
  padding: 20px;

}